@import "../../../../style/mixins";

.article{
    .side-by-side{
        max-width: 90vw;
        width: 1200px;
        margin:70px auto;
        gap: 50px;
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 20px;
            .quote-sign{
                width: 50px;
                position: absolute;
                left:0;
                transform: translateX(-150%);
                top:60px;
            }
            h3{
                @include h3;
                font-weight: 200;
                margin-bottom: .3em;
            }
            h2{
                @include h2;
                margin-bottom: .5em;
            }
        }
        .left{
            justify-self: center;
            img{
                width: 400px;
            }
        }
    }
    &.reverse{
        .left{
            grid-column: 2 / 3;
            grid-row: 1;

        }
        .right{
            grid-column: 1 / 3;
            grid-row: 1;
            width: 50%;
        }
    }
    @media screen and (max-width:850px) {
        .side-by-side{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: unset;
            margin: unset;
            max-width: 100%;
            .right{
                max-width: 100%;
                width: 100%;
                margin: auto;
                padding:30px;
            }
            .left{
                img{
                    max-width: 100%;
                    min-width: 375px;
                }
                max-width: 100vw;
            }
        }
    }
}