.header{
    padding:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            img{
                height: 80px;
            }
        }
    }
}