.form{
    display: flex;
    flex-wrap: wrap;
    .submit-cont{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 20px;
        button{
            padding:.7em 2em;
            h3{
                text-transform: uppercase;
            }
        }
    }
    @media screen and (max-width:600px) {
        >div{
            width: 100% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}